@page "/ManagerView"
@attribute [Authorize(Policy = "MustBeManager")]

<h2>Wellcome Jane to your view! </h2>

<img src="StaticFolder/Images/owl-50267_640.jpg" asp-append-version="true" width="600px"/> 


@code {
    
}